################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git-Learning-Series/FileContentIndex
/.vs/Git-Learning-Series/v17
/.vs
